.jumbotron{
  background: url('../img/bkgrd.jpg');
  height: 250px;


}
.jumbotron h1{
  padding-top: 100px;
  color: white;
  font-size: 30px;
  font-family: sans-serif;

}


img{
  width: 100%;
  border-radius: 5%;
}

#github{
  float: right;
  width: 30px;
}
.socialleft{
  float: left;
}
.socialright{
  float: right;
}

.social img{
  width: 45px;
  margin: 5px;
}

.social li{
  list-style-type: none;
  color: white;
}

.navtitle{
  border-bottom: 4px solid white;
  color: white;
}


ul{
  /*try to fix this to be more specific if you have time*/
  padding: 2px;
}

.container{
  margin-left: 30px;
}
body{
  background: linear-gradient(black 300px, white, white, black )
  /*background-image: url('../img/tropical.png');*/
}

.well{
  border-radius: 10px;
  border: 0px;

}

a {
  color:inherit;
  text-decoration: none;
 }
